@font-face {
  font-family: 'Aften Screen';
  src: url('/aften_screen.woff') format('woff');
  font-weight: 400;
  font-variant: normal;
}

* {
  box-sizing: border-box;
}

html {
  background-color: #EDDD53;
  background-image: linear-gradient(0deg, #EDDD53 0%, #57C785 100%);
  color: #f2f2f2;
  font-family: 'Aften Screen', system, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande,
    sans-serif;
}

a {
  color: #f2f2f2;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

article {
  padding: 0;
}

article > *:not(.hero-section) {
  padding: 0 5vw;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('https://inaturalist-open-data.s3.amazonaws.com/photos/140692324/original.jpg');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding: 0;
  margin: 0;
}

.hero-section header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 3vw 5vw;
  width: 100%;
}

.hero-title {
  font-size: 5vw;
  font-weight: 400;
  text-align: center;
  margin: 0;
  z-index: 1;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header svg {
  fill: white;
  height: 20px;
}

section {
  margin: 14vw 0 14vw;
}
h1 {
  font-size: 5vw;
  font-weight: 400;
}
p,
section.text {
  max-width: 400px;
  font-size: 16px;
}

section.intro-text {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 2rem;
}

section.intro-text p {
  max-width: 800px;
  font-size: 2rem;
  line-height: 1.6;
  text-align: left;
}

.StickyContainer {
  height: 1000vh;
  position: relative; /* IMPORTANT! */
}
.SomeStickyContent {
  position: sticky;
  top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  padding: 2rem;
}

/* Debug styles */
.Debug {
  outline: 1px dashed rgba(255, 255, 255, 0.33);
}
.Debug:after {
  content: 'StickyScrollScene';
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.33);
  color: black;
  font-size: 10px;
  padding: 5px;
}

.ViewportScrollScene:after {
  content: 'ViewportScrollScene';
}

